@import url(styles/header.css);
@import url(styles/grid.css);
:root{
    --cor-de-fundo: #f7a29e;
    --branco: #fdfaeb;
    --amarelo:  #f3c6b9;
    --roxo-degrade: 
    linear-gradient(94.49deg,  #faeddf 35.48%,  #3b3f49 143.32%);

}
body{
    background-color: var(--cor-de-fundo);
}
